* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  background-color: #2b2b2b;
  color: #fff;
}

/* ========================================= */
/* ===common css==== */

.container {
  /* 1050 + 115 x 2 */
  max-width: 1280px;
  margin: 0 auto;
  padding: 80px 115px;
}


a {
  text-decoration: none;
  color: inherit;
}

input{
  border: none;
  outline: none;
  font-family: inherit;
  color:#2B2B2B;
}

.btn {
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Work Sans", sans-serif;
  background-color: #a259ff;
  border-radius: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: 0.3s ease-out;
}

.heading-h2-desc {
  margin-top: 10px;
}

.btn-primary {
  font-size: 2.2rem;
  padding: 20.5px 50px;
}
.btn-secondary {
  font-size: 1.6rem;
  padding: 19px 50px;
}
.btn-tertiary {
  font-size: 1.6rem;
  padding: 12px 50px;
}

button:hover {
  opacity: 0.8;
}

/* text css common */

.h1-work-sans {
  font-weight: 600;
  font-size: 6.7rem;
  line-height: 1.1;
}

.h2-work-sans {
  font-weight: 600;
  font-size: 5.1rem;
  line-height: 1.1;
}

.h3-work-sans {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 1.2;
}

.h5-work-sans {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.4;
}

.body-text-work-sans {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.6;
}

.base-body-work-sans {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
}

.h3-space-mono{
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.2;
  font-family: "Space Mono", monospace;
}

.h4-space-mono {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.4;
  font-family: "Space Mono", monospace;
}

.h5-space-mono {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.6;
  font-family: "Space Mono", monospace;
}

.base-body-space-mono {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Space Mono", monospace;
}

.caption-space-mono {
  font-weight: 400;
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  line-height: 1.1;
}


/* ======Header======= */

.header{
  padding: 20px 50px;
}

.header__inner{
  display: flex;
  align-items: center;
}
.header__logo-link{
  display: flex;
  align-items: center;
  gap: 9px;
}
.header__nav{
  margin-left: auto;
}
.header__list{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__link{
  padding: 12px 20px;
}

.header__btn{
  margin-left: 10px;
}

.header__btn-menu{
  display: none;
}

/* ======Hero Section======= */

.hero-section__inner {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.hero-section__left {
  width: calc(100% / 2 - 15px);
}

.hero-section__left .desc {
  margin-top: 20px;
}

.btn__hero-custom {
  margin-top: 30px;
}

.hero-section__additional-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero-section__additional-info .block {
  width: calc((100% - 60px) / 3);
}

.hero-section__additional-info .title-case {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.6;
}

.hero-section__right-media{
  width: 100%;
  object-fit: cover;
}

.hero-section__right .sub-image {
  background-color: #3b3b3b;
  padding: 22px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.artist-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 10px;
}

/* ====Trending collection===== */

.collection-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 60px;
}



.collection-card {
  width: calc((100% - 60px) / 3);
}

.collection-card .avatar-group {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 15px;
  margin-top: 15px;
}

.collection-card .avatar-group * {
  display: inline-block;
  width: calc((100% - 30px) / 3);
}

.collection-card .avatar-group .box-more-image {
  background-color: #a259ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.collection-card .collection-thumb{
  width: 100%;
  object-fit: cover;
}

.collection-card .collection-card-name {
  margin-top: 15px;
}

/* =====Top Rated Artists===== */

.top-rated-artists .title {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.top-rated-artists .title .top-rated-title {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.top-rated-artists .title .btn-ranking {
  background-color: transparent;
  border: 2px solid #a259ff;
}

.top-rated-artists .artist-card-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin-top: 60px;
}

.top-rated-artists .artist-card-item {
  width: calc((100% - 90px) / 4);
  background-color: #3b3b3b;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-rated-artists .artist-card-item .name-creator {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-rated-artists .artist-card-item .avatar-artist{
  object-fit: cover;
  width: 100%;
}

.top-rated-artists .artist-card-item .name-creator p:last-child {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}


.top-rated-artists .card-item-order {
  position: absolute;
  top: 18px;
  left: 20px;
  color: #858584;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* =====Browse Categories====== */

.browse-categories .categories-list {
  margin-top: 60px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.browse-categories .categories-item {
  width: calc((100% - 90px) / 4);
  border-radius: 20px;
  background-color: #3b3b3b;
  overflow: hidden;
}

.browse-categories .categories-item .thumb-icon {
  position: relative;
}

.browse-categories .categories-item .categories-thumb{
   background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(15px);
  object-fit: cover;
  width: 100%;
  z-index: -3;
}

.browse-categories .categories-item .name-categories {
  padding: 20px 30px 25px;
}

.blured-overlay{
  position: relative;
}

.blured-overlay .overlay{
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
}


.browse-categories .categories-item .thumb-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* =======Discover more NFTs======= */

.discover-nfts .discover-nft-list {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.discover-nfts .discover-nft-item {
  width: calc((100% - 60px) / 3);
  background-color: #3b3b3b;
  border-radius: 20px;
  overflow: hidden;
}

.discover-nfts .discover-nft-item .thumb {
  object-fit: cover;
  width: 100%;
  height: 296px;
}

.discover-nfts .discover-nft-item .content {
  padding: 20px 30px 25px;
}

.discover-nfts .discover-nft-item .content .value {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover-nfts .discover-nft-item .content .value .value-price {
  color: #858584;
}

.discover-nfts .discover-nft-item .content .value .value-eth {
  margin-top: 8px;
}

.discover-nfts .discover-nft-item .content .bid {
  text-align: right;
}

/* ======NFT Highlight======= */

.nft-highlight {
  background: linear-gradient(to top, #a259ff, #a259ff00),
    url(../img/mushHL.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.nft-highlight .artist-card {
  background-color: #3b3b3b;
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 0;
}

.nft-highlight .h2-work-sans {
  margin-top: 30px;
}

.nft-highlight .btn-secondary {
  margin-top: 30px;
  background-color: #fff;
  color: #000;
}

.nft-highlight .block-cta {
  margin-top: 360px;
  position: relative;
}

.nft-highlight .clock-remaining {
  padding: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #3B3B3B80;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.nft-highlight .clock-remaining .time-remain {
  margin-top: 10px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}

.nft-highlight .clock-remaining .time-remain .caption-space-mono{
  margin-top: 5px;
}


/* ========How it works======== */

.how-works .work-card-list{
  margin-top: 48px;
  display: flex;
  gap: 30px;
  align-items: stretch;
  justify-content: space-between;
}

.how-works .work-card-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 60px) / 3);
  background-color: #3B3B3B;
  border-radius: 20px;
  padding: 0 30px 30px;
}

.how-works .work-card-item .wrapper-thumb{
  padding: 10px;
}

.how-works .work-card-item .thumb{
  width: 100%;
  object-fit: cover;
}

.how-works .work-card-item .desc-card-item{
  margin-top: 20px;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* ======Join our weekly digest====== */

.container-weekly-digest{
  padding-top: 40px;
}

.weekly-digest .weekly-digest__inner{
  padding: 60px;
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: space-between;
  background-color: #3B3B3B;
  border-radius: 20px;
}

.weekly-digest .weekly-digest__inner > *{
  width: calc((100% - 80px)/2);
}

.weekly-digest .weekly-digest__inner .image img{
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}


.weekly-digest .weekly-digest__inner .content .put-email{
  margin-top: 40px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}

.weekly-digest .weekly-digest__inner .content .put-email input{
  border-radius: 20px;
  width: 100%;
  padding: 19px 20px;
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  border: 2px solid #fff;
}

.weekly-digest .weekly-digest__inner .content .put-email input::placeholder{
  color:#2B2B2B;
}

.weekly-digest .weekly-digest__inner .content .btn-subscribe-weekly{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* =====footer===== */

.footer{
  background-color: #3B3B3B;
}

.container-footer{
  padding: 40px 115px;
}

.footer .footer__inner{
  padding: 0 31px 30px;
  border-bottom: 1px solid #858584;
}

.footer .content{
  display: flex;
  justify-content: space-between;
}

.footer .content .contact{
  width: 33%;
}

.footer .content .explore{
  width: 24%;
}

.footer .content .contact .logo-page{
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer .content .contact p:first-of-type{
  margin-top: 30px;
  color:#CCCCCC;
  width: 73%;
}

.footer .content .contact p:nth-of-type(2){
  margin-top: 20px;
  color:#CCCCCC;
}
.footer .content .contact .contact-social{
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .content .explore{
  display: flex;
  flex-direction: column;
}

.footer .content .explore a{
  margin-top: 20px;
  color:#CCCCCC;
}

.footer .content .explore a:first-of-type{
  margin-top: 25px;
}


.footer .content .call-to-action .desc-weekly{
  color:#CCCCCC;
  margin-top: 25px;
  width: 78%;
}

.footer .content .call-to-action .put-email{
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}

.footer .content .call-to-action .put-email input{
  border-radius: 20px;
  width: 100%;
  padding: 19px 20px;
  font-family: "Work Sans",sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  border: 2px solid #fff;
}

.footer .content .call-to-action .put-email input::placeholder{
  color:#2B2B2B;
}

.footer .content .call-to-action .btn-subscribe-footer{
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer .copyright{
  margin-top: 20px;
  color:#CCCCCC;
}